<div class="container-fluid bg-light">
    <div class="container bg-light">
        <div class="row mt-5" style="height: 600px;">
            <div class="col"></div>
            <div class="col-md-6 bg-white shadow">
                <div class="card bg-primary mt-3">
                    <h4 class="text-white text-center py-2 ps-2">
                        Todo Task
                    </h4>
                </div>
                <div class="shadow">
                    <div class="input-group p-3">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Add your task here" name="task"
                                [(ngModel)]="addTaskData">
                            <button class="btn btn-outline-success" (click)="addTask()" type="button"
                                id="button-addon2">Add </button>
                        </div>
                    </div>
                </div>
                <h3 class="text-primary mt-5">Task: </h3>
                <div class="input-group mb-3">
                    <!-- <input type="text"   (keyup)="searchData()" class="form-control"  placeholder="Search task here"> -->
                    <input type="text" [(ngModel)]="searchTable" class="form-control"   placeholder="Search tasks" (input)="applyFilter()" />
                </div>
                <div style="overflow-y: auto; height: 350px;" >
                    <div class="m-3" *ngFor="let item of filteredTaskArr">
                        <div class="p-2 shadow border">
                            <div class="input-group row ps-3">
                                <div class="card col-md-8 border-0">
                                    {{item.task}}
                                </div>
                                <button class="btn btn-outline-primary col me-1" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal" (click)="callEdit(item)">Edit</button>
                                <div class="btn btn-outline-danger col" (click)="deleteTask(item)">X</div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="shadow">
                                    <div class="input-group p-3">
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" placeholder="Add your task here"
                                                name="task" [(ngModel)]="editTaskData">
                                            <button class="btn btn-outline-success" (click)="editTask()" type="button"
                                                id="button-addon2">Update </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>